@import "recipe-overview";
@import "recipe_ingredients";
@import "recipe_instructions";

@include media-gte-lg {
  main {
    display: grid;
    grid-template-columns: 1fr 216px;
    grid-template: "ingredients overview"
    "instructions ."
    "source source";
    column-gap: clamp(36px, 10em, 155px);

    .recipe__overview {
      grid-area: overview;
    }

    .recipe__ingredients {
      grid-area: ingredients;
    }

    .recipe__instructions {
      grid-area: instructions;
    }

    .recipe__source {
      grid-area: source;
    }
  }
}

section[class^="recipe__"] .section__title {
  margin-top: 30px;

  font-family: $font-main;
  font-weight: bold;
}

.recipe__source {
  margin-top: 26px;

  font-style: italic;
  font-size: 12px;
  line-height: 150%;

  color: $grey4;

  @include media-gte-lg {
    margin: 58px 0 92px;

    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $grey4;
  }
}