@import "recipe-overview";
@import "recipe_ingredients";
@import "recipe_instructions";

section[class^="recipe__"] .section__title {
  margin-top: 30px;

  font-family: $font-main;
  font-weight: bold;
}

.recipe__source {
  margin-top: 26px;

  font-style: italic;
  font-size: 12px;
  line-height: 150%;

  color: $grey4;

  a {
    text-decoration: none;
    color: $grey4;
  }
}